# node_modules y logs
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Entornos
.env

# Directorios de producción
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
